/* element Have it set by default
BLOCK : Always stars a new line and  spans full width
INLINE : DOES NOT start a new line and spans only content
 */

 .block {
  background: blue;
  color: white;
  width: 300px;
  margin: 0 auto;

 }
 .inline{
  background: red;
  color: white;
  
 }
 body{
  text-align: center;
  image-orientation:flip;
 }